<html>
  <title>
    Add schedule
  </title>
  <body>
    <form action="/schedule/add" method="post">
      room number <input type="text" name="room_number"><br>
      teacher name <input type="text" name="id_teacher"><br>
      class name <input type="text" name="id_class"><br>
      subject <input type="text" name="id_subject"><br>
      day <input type="text" name="id_day"><br>
      lesson number <input type="text" name="lesson_number"><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
